@use "sass:map";
@import './variables.scss';

@mixin themable($theme-name, $theme-map) {
    .#{$theme-name} {
        margin: 0;
        padding: 0;
        width: 100%;

        .pageContainer {
            // min-width: min(100%, 600px);
            // max-width: 600px;
            width: 100%;
            display: flex;

            .nvaigationContainer {
                width: $navbarWidth;
                height: 100vh;
                background-color: map.get($theme-name, "bad");
            }
        }
    }
}